In [ ]:
"""

last structural edit here - have destination engineering be its own gitup section.

"""

In [1]:
## libraries 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

In [2]:
# connecting to the planes database

conn = sqlite3.connect(r"C:\Users\Epicm\Desktop\data_bases\dbs\planes\plane1.db")
cursor = conn.cursor()

In [3]:
# calling the flights table and saving as a df

query = '''

SELECT * from flights_cleaned

'''

dfc = pd.read_sql_query(query, conn)
conn.close()

dfc

,airline,source,destination,route,total_stops,additional_info,price,day,month,year,arv_hour,arv_min,dep_hour,dep_min,dur_hour,dur_min,total_dur
0,indigo,banglore,new delhi,blr → del,1,no info,3897,24,3,2019,1,10,22,20,2,50,170
1,air india,kolkata,banglore,ccu → ixr → bbi → blr,3,no info,7662,1,5,2019,13,15,5,50,7,25,445
2,jet airways,delhi,cochin,del → lko → bom → cok,3,no info,13882,9,6,2019,4,25,9,25,19,0,1140
3,indigo,kolkata,banglore,ccu → nag → blr,2,no info,6218,12,5,2019,23,30,18,5,5,25,325
4,indigo,banglore,new delhi,blr → nag → del,2,no info,13302,1,3,2019,21,35,16,50,4,45,285
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10676,air asia,kolkata,banglore,ccu → blr,1,no info,4107,9,4,2019,22,25,19,55,2,30,150
10677,air india,kolkata,banglore,ccu → blr,1,no info,4145,27,4,2019,23,20,20,45,2,35,155
10678,jet airways,banglore,delhi,blr → del,1,no info,7229,27,4,2019,11,20,8,20,3,0,180
10679,vistara,banglore,new delhi,blr → del,1,no info,12648,1,3,2019,14,10,11,30,2,40,160
10680,air india,delhi,cochin,del → goi → bom → cok,3,no info,11753,9,5,2019,19,15,10,55,8,20,500

In [ ]:
### Deconstructing the 'Route' feature ###

In [4]:
dfc['route'].unique()

array(['blr → del', 'ccu → ixr → bbi → blr', 'del → lko → bom → cok',
       'ccu → nag → blr', 'blr → nag → del', 'ccu → blr',
       'blr → bom → del', 'del → bom → cok', 'del → blr → cok',
       'maa → ccu', 'ccu → bom → blr', 'del → amd → bom → cok',
       'del → pnq → cok', 'del → ccu → bom → cok', 'blr → cok → del',
       'del → idr → bom → cok', 'del → lko → cok',
       'ccu → gau → del → blr', 'del → nag → bom → cok',
       'ccu → maa → blr', 'del → hyd → cok', 'ccu → hyd → blr',
       'del → cok', 'ccu → del → blr', 'blr → bom → amd → del',
       'bom → del → hyd', 'del → maa → cok', 'bom → hyd',
       'del → bho → bom → cok', 'del → jai → bom → cok',
       'del → atq → bom → cok', 'del → jdh → bom → cok',
       'ccu → bbi → bom → blr', 'blr → maa → del',
       'del → goi → bom → cok', 'del → bdq → bom → cok',
       'ccu → jai → bom → blr', 'ccu → bbi → blr', 'blr → hyd → del',
       'del → trv → cok', 'ccu → ixr → del → blr',
       'del → ixu → bom → cok', 'ccu → ixb → blr',
       'blr → bom → jdh → del', 'del → udr → bom → cok',
       'del → hyd → maa → cok', 'ccu → bom → cok → blr',
       'blr → ccu → del', 'ccu → bom → goi → blr',
       'del → rpr → nag → bom → cok', 'del → hyd → bom → cok',
       'ccu → del → amd → blr', 'ccu → pnq → blr',
       'blr → ccu → gau → del', 'ccu → del → cok → blr',
       'blr → pnq → del', 'bom → jdh → del → hyd',
       'blr → bom → bho → del', 'del → amd → cok', 'blr → lko → del',
       'ccu → gau → blr', 'bom → goi → hyd', 'ccu → bom → amd → blr',
       'ccu → bbi → ixr → del → blr', 'del → ded → bom → cok',
       'del → maa → bom → cok', 'blr → amd → del', 'blr → vga → del',
       'ccu → jai → del → blr', 'ccu → amd → blr',
       'ccu → vns → del → blr', 'blr → bom → idr → del',
       'blr → bbi → del', 'blr → goi → del', 'bom → amd → isk → hyd',
       'bom → ded → del → hyd', 'del → ixc → bom → cok',
       'ccu → pat → blr', 'blr → ccu → bbi → del',
       'ccu → bbi → hyd → blr', 'blr → bom → nag → del',
       'blr → ccu → bbi → hyd → del', 'blr → gau → del',
       'bom → bho → del → hyd', 'bom → jlr → hyd',
       'blr → hyd → vga → del', 'ccu → knu → blr',
       'ccu → bom → pnq → blr', 'del → bbi → cok',
       'blr → vga → hyd → del', 'bom → jdh → jai → del → hyd',
       'del → gwl → idr → bom → cok', 'ccu → rpr → hyd → blr',
       'ccu → vtz → blr', 'ccu → del → vga → blr',
       'blr → bom → idr → gwl → del', 'ccu → del → cok → trv → blr',
       'bom → cok → maa → hyd', 'bom → ndc → hyd', 'blr → bdq → del',
       'ccu → bom → trv → blr', 'ccu → bom → hbx → blr',
       'bom → bdq → del → hyd', 'bom → ccu → hyd',
       'blr → trv → cok → del', 'blr → idr → del',
       'ccu → ixz → maa → blr', 'ccu → gau → imf → del → blr',
       'bom → goi → pnq → hyd', 'bom → blr → ccu → bbi → hyd',
       'bom → maa → hyd', 'blr → bom → udr → del',
       'bom → udr → del → hyd', 'blr → vga → vtz → del',
       'blr → hbx → bom → bho → del', 'ccu → ixa → blr',
       'bom → rpr → vtz → hyd', 'blr → hbx → bom → amd → del',
       'bom → idr → del → hyd', 'bom → blr → hyd', 'blr → stv → del',
       'ccu → ixb → del → blr', 'bom → jai → del → hyd',
       'bom → vns → del → hyd', 'blr → hbx → bom → nag → del',
       'blr → bom → ixc → del', 'blr → ccu → bbi → hyd → vga → del',
       'bom → bbi → hyd'], dtype=object)

In [5]:
# let's remove the arrow first

dfc['route'] = dfc['route'].str.replace(r'\s*→\s*', ' ', regex=True)
dfc

,airline,source,destination,route,total_stops,additional_info,price,day,month,year,arv_hour,arv_min,dep_hour,dep_min,dur_hour,dur_min,total_dur
0,indigo,banglore,new delhi,blr del,1,no info,3897,24,3,2019,1,10,22,20,2,50,170
1,air india,kolkata,banglore,ccu ixr bbi blr,3,no info,7662,1,5,2019,13,15,5,50,7,25,445
2,jet airways,delhi,cochin,del lko bom cok,3,no info,13882,9,6,2019,4,25,9,25,19,0,1140
3,indigo,kolkata,banglore,ccu nag blr,2,no info,6218,12,5,2019,23,30,18,5,5,25,325
4,indigo,banglore,new delhi,blr nag del,2,no info,13302,1,3,2019,21,35,16,50,4,45,285
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10676,air asia,kolkata,banglore,ccu blr,1,no info,4107,9,4,2019,22,25,19,55,2,30,150
10677,air india,kolkata,banglore,ccu blr,1,no info,4145,27,4,2019,23,20,20,45,2,35,155
10678,jet airways,banglore,delhi,blr del,1,no info,7229,27,4,2019,11,20,8,20,3,0,180
10679,vistara,banglore,new delhi,blr del,1,no info,12648,1,3,2019,14,10,11,30,2,40,160
10680,air india,delhi,cochin,del goi bom cok,3,no info,11753,9,5,2019,19,15,10,55,8,20,500

In [6]:
## splitting all locations by the space and creating new features

dfc['start'] = dfc['route'].str.split(' ').str[0]
dfc['stop_1'] = dfc['route'].str.split(' ').str[1]
dfc['stop_2'] = dfc['route'].str.split(' ').str[2]
dfc['stop_3'] = dfc['route'].str.split(' ').str[3]
dfc['stop_4'] = dfc['route'].str.split(' ').str[4]
dfc['stop_5'] = dfc['route'].str.split(' ').str[5]

In [7]:
dfc['start'] = dfc['start'].astype(str)
sorted(dfc['start'].unique())

['blr', 'bom', 'ccu', 'del', 'maa']

In [ ]:
## With the goal to numerate all the categorical features, I want to have the factors throughout the newly created variables be unique
## Example: del will be key 3 through all six new features

In [ ]:
## This can be accomplished by utilizing dictionaries

In [8]:
# creating the key values for the first location

unique_sorted_keys = sorted(dfc['start'].unique())
numerated_dict = {value: idx for idx, value in enumerate(unique_sorted_keys)}

print(numerated_dict)

{'blr': 0, 'bom': 1, 'ccu': 2, 'del': 3, 'maa': 4}

In [9]:
# sorting the rest of the locations

unique_sorted_values_stop_1 = sorted(dfc['stop_1'].unique())
unique_sorted_values_stop_2 = sorted(dfc['stop_2'].unique())
unique_sorted_values_stop_3 = sorted(dfc['stop_3'].unique())
unique_sorted_values_stop_4 = sorted(dfc['stop_4'].unique())
unique_sorted_values_stop_5 = sorted(dfc['stop_5'].unique())

TypeError: '<' not supported between instances of 'str' and 'float'

In [10]:
# converting the data value to string
dfc['stop_1'] = dfc['stop_1'].astype(str)
dfc['stop_2'] = dfc['stop_2'].astype(str)
dfc['stop_3'] = dfc['stop_3'].astype(str)
dfc['stop_4'] = dfc['stop_4'].astype(str)
dfc['stop_5'] = dfc['stop_5'].astype(str)

In [11]:
unique_sorted_values_stop_1 = sorted(dfc['stop_1'].unique())
unique_sorted_values_stop_2 = sorted(dfc['stop_2'].unique())
unique_sorted_values_stop_3 = sorted(dfc['stop_3'].unique())
unique_sorted_values_stop_4 = sorted(dfc['stop_4'].unique())
unique_sorted_values_stop_5 = sorted(dfc['stop_5'].unique())

In [12]:
# combining all the key values

combined_unique_values = sorted(set(unique_sorted_keys + unique_sorted_values_stop_1 + unique_sorted_values_stop_2 + unique_sorted_values_stop_3 + unique_sorted_values_stop_4  + unique_sorted_values_stop_5))

In [13]:
# adding uniquness between the locations

initial_dict = numerated_dict.copy()
updated_dict = initial_dict.copy()

next_index = max(initial_dict.values()) + 1
for value in combined_unique_values:
    if value not in updated_dict:
        updated_dict[value] = next_index
        next_index += 1

print("Initial dictionary:", [initial_dict])
print("Updated dictionary:", [updated_dict])

Initial dictionary: [{'blr': 0, 'bom': 1, 'ccu': 2, 'del': 3, 'maa': 4}]
Updated dictionary: [{'blr': 0, 'bom': 1, 'ccu': 2, 'del': 3, 'maa': 4, 'amd': 5, 'atq': 6, 'bbi': 7, 'bdq': 8, 'bho': 9, 'cok': 10, 'ded': 11, 'gau': 12, 'goi': 13, 'gwl': 14, 'hbx': 15, 'hyd': 16, 'idr': 17, 'imf': 18, 'isk': 19, 'ixa': 20, 'ixb': 21, 'ixc': 22, 'ixr': 23, 'ixu': 24, 'ixz': 25, 'jai': 26, 'jdh': 27, 'jlr': 28, 'knu': 29, 'lko': 30, 'nag': 31, 'nan': 32, 'ndc': 33, 'pat': 34, 'pnq': 35, 'rpr': 36, 'stv': 37, 'trv': 38, 'udr': 39, 'vga': 40, 'vns': 41, 'vtz': 42}]

In [14]:
locations = updated_dict
locations_as_lists = {key: [value] for key, value in locations.items()}
locations_as_lists

{'blr': [0],
 'bom': [1],
 'ccu': [2],
 'del': [3],
 'maa': [4],
 'amd': [5],
 'atq': [6],
 'bbi': [7],
 'bdq': [8],
 'bho': [9],
 'cok': [10],
 'ded': [11],
 'gau': [12],
 'goi': [13],
 'gwl': [14],
 'hbx': [15],
 'hyd': [16],
 'idr': [17],
 'imf': [18],
 'isk': [19],
 'ixa': [20],
 'ixb': [21],
 'ixc': [22],
 'ixr': [23],
 'ixu': [24],
 'ixz': [25],
 'jai': [26],
 'jdh': [27],
 'jlr': [28],
 'knu': [29],
 'lko': [30],
 'nag': [31],
 'nan': [32],
 'ndc': [33],
 'pat': [34],
 'pnq': [35],
 'rpr': [36],
 'stv': [37],
 'trv': [38],
 'udr': [39],
 'vga': [40],
 'vns': [41],
 'vtz': [42]}

In [ ]:
# now let's import the dictionary into our database #

In [15]:
dict = pd.DataFrame(list(updated_dict.items()), columns = ['abbrv', 'loc_id'])

In [16]:
conn = sqlite3.connect(r"C:\Users\Epicm\Desktop\data_bases\dbs\planes\plane1.db")
cursor = conn.cursor()

In [17]:
dict.to_sql('location_dict', conn, if_exists='replace', index=False)

43

In [18]:
conn.close()

In [31]:
### end of SQL import

In [19]:
# encoding our route features 

encoding_dict = updated_dict

dfc['start'] = dfc['start'].map(encoding_dict)
dfc['stop_1'] = dfc['stop_1'].map(encoding_dict)
dfc['stop_2'] = dfc['stop_2'].map(encoding_dict)
dfc['stop_3'] = dfc['stop_3'].map(encoding_dict)
dfc['stop_4'] = dfc['stop_4'].map(encoding_dict)
dfc['stop_5'] = dfc['stop_5'].map(encoding_dict)

dfc

,airline,source,destination,route,total_stops,additional_info,price,day,month,year,...,dep_min,dur_hour,dur_min,total_dur,start,stop_1,stop_2,stop_3,stop_4,stop_5
0,indigo,banglore,new delhi,blr del,1,no info,3897,24,3,2019,...,20,2,50,170,0,3,32,32,32,32
1,air india,kolkata,banglore,ccu ixr bbi blr,3,no info,7662,1,5,2019,...,50,7,25,445,2,23,7,0,32,32
2,jet airways,delhi,cochin,del lko bom cok,3,no info,13882,9,6,2019,...,25,19,0,1140,3,30,1,10,32,32
3,indigo,kolkata,banglore,ccu nag blr,2,no info,6218,12,5,2019,...,5,5,25,325,2,31,0,32,32,32
4,indigo,banglore,new delhi,blr nag del,2,no info,13302,1,3,2019,...,50,4,45,285,0,31,3,32,32,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10676,air asia,kolkata,banglore,ccu blr,1,no info,4107,9,4,2019,...,55,2,30,150,2,0,32,32,32,32
10677,air india,kolkata,banglore,ccu blr,1,no info,4145,27,4,2019,...,45,2,35,155,2,0,32,32,32,32
10678,jet airways,banglore,delhi,blr del,1,no info,7229,27,4,2019,...,20,3,0,180,0,3,32,32,32,32
10679,vistara,banglore,new delhi,blr del,1,no info,12648,1,3,2019,...,30,2,40,160,0,3,32,32,32,32
10680,air india,delhi,cochin,del goi bom cok,3,no info,11753,9,5,2019,...,55,8,20,500,3,13,1,10,32,32

In [20]:
dfc.drop('route', axis=1, inplace=True)
dfc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10681 entries, 0 to 10680
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          10681 non-null  object
 1   source           10681 non-null  object
 2   destination      10681 non-null  object
 3   total_stops      10681 non-null  int64
 4   additional_info  10681 non-null  object
 5   price            10681 non-null  int64
 6   day              10681 non-null  int64
 7   month            10681 non-null  int64
 8   year             10681 non-null  int64
 9   arv_hour         10681 non-null  int64
 10  arv_min          10681 non-null  int64
 11  dep_hour         10681 non-null  int64
 12  dep_min          10681 non-null  int64
 13  dur_hour         10681 non-null  int64
 14  dur_min          10681 non-null  int64
 15  total_dur        10681 non-null  int64
 16  start            10681 non-null  int64
 17  stop_1           10681 non-null  int64
 18  stop_2           10681 non-null  int64
 19  stop_3           10681 non-null  int64
 20  stop_4           10681 non-null  int64
 21  stop_5           10681 non-null  int64
dtypes: int64(18), object(4)
memory usage: 1.8+ MB

In [ ]:
### Deconstructing the 'source' & 'destination' features ###
# We will want these on the same scale as our routes
# 1.) abbvreviate 
# 2.) enumerate with updated_dict from above.

In [21]:
dfc['source'].unique()

array(['banglore', 'kolkata', 'delhi', 'chennai', 'mumbai'], dtype=object)

In [22]:
source_dict = {
    'banglore': 'blr',
    'kolkata': 'ccu', 
    'delhi': 'del' ,
    'chennai': 'maa',
    'mumbai': 'bom'
}

In [23]:
dfc['destination'].unique()

array(['new delhi', 'banglore', 'cochin', 'kolkata', 'delhi', 'hyderabad'],
      dtype=object)

In [24]:
 destination_dict = {
    'new delhi': 'del',
    'bangalore': 'blr',
    'cochin': 'cok',
    'kolkata': 'ccu',
    'delhi': 'del',
    'hyderabad': 'hyd'
}

In [25]:
# Function to update features using the dictionaries and handle NaN values
def update_features(dfc, source_dict, destination_dict, updated_dict):
    # Update source
    dfc['source'] = dfc['source'].map(source_dict).map(updated_dict)
    # Update destination
    dfc['destination'] = dfc['destination'].map(destination_dict).map(updated_dict)
    
    # Replace NaN values with 0 using assignment to avoid the warning
    dfc['source'] = dfc['source'].fillna(0)
    dfc['destination'] = dfc['destination'].fillna(0)
    
    return dfc

# Assuming df is your dataframe containing 'source' and 'destination' columns
dfc = update_features(dfc, source_dict, destination_dict, updated_dict)

# Display the first few rows to verify the changes
dfc.head()

,airline,source,destination,total_stops,additional_info,price,day,month,year,arv_hour,...,dep_min,dur_hour,dur_min,total_dur,start,stop_1,stop_2,stop_3,stop_4,stop_5
0,indigo,0,3.0,1,no info,3897,24,3,2019,1,...,20,2,50,170,0,3,32,32,32,32
1,air india,2,0.0,3,no info,7662,1,5,2019,13,...,50,7,25,445,2,23,7,0,32,32
2,jet airways,3,10.0,3,no info,13882,9,6,2019,4,...,25,19,0,1140,3,30,1,10,32,32
3,indigo,2,0.0,2,no info,6218,12,5,2019,23,...,5,5,25,325,2,31,0,32,32,32
4,indigo,0,3.0,2,no info,13302,1,3,2019,21,...,50,4,45,285,0,31,3,32,32,32

In [ ]:
"""

End of this feature engineering section.

"""

In [26]:
# upload cleaned df into a database

conn = sqlite3.connect(r"C:\Users\Epicm\Desktop\data_bases\dbs\planes\plane1.db")
cursor = conn.cursor()

In [27]:
table_name = 'flights_cleaned'
dfc.to_sql(table_name, conn, if_exists='replace', index=False)

10681

In [28]:
conn.close()